In [1]:
#Dictionary
#d=dict()
#d={<key>:<value>,<key>:<value>}
d={'a':'Apple','b':'Ball','c':'cat'}
print(type(d))
print(d)

<class 'dict'>
{'a': 'Apple', 'b': 'Ball', 'c': 'cat'}

In [3]:
d['a']

'Apple'

In [5]:
print(d['a'])
print(d['b'])
print(d['c'])

Apple
Ball
cat

In [6]:
d={'a':'Apple','b':'Ball','c':'cat','a':'ant'} #replace value so dont give same key #key shpould be unique
d

{'a': 'ant', 'b': 'Ball', 'c': 'cat'}

In [7]:
d={'a':'Apple','b':'Ball','c':'cat','A':'ant'}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'cat', 'A': 'ant'}

In [8]:
d={}
d['a']='apple'
d

{'a': 'apple'}

In [11]:
d={}
d['a']='apple'
d['b']='ball'
d['c']='cat'
d['d']='dog'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [12]:
d={'a':'Apple','b':'Ball','c':'cat','D':'dog'}
d['a']='Ant' #overwrite
d

{'a': 'Ant', 'b': 'Ball', 'c': 'cat', 'D': 'dog'}

In [3]:
info={}
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    phone=input("enter phone=")
    info[name]=phone
print(info)

enter n=2
enter name=ram
enter phone=5
enter name=sam
enter phone=6
{'ram': '5', 'sam': '6'}

In [4]:
for i in info:
     print(i)

ram
sam

In [5]:
for i in info.values():
     print(i)

5
6

In [6]:
for i in info.items():
     print(i)

('ram', '5')
('sam', '6')

In [7]:
l=[]
for i in info.items():
     l.append(i)
l

[('ram', '5'), ('sam', '6')]

In [8]:
dict(l) #list topple pair convert in dictionary

{'ram': '5', 'sam': '6'}

In [10]:
d=[['ram', '5'], ['sam', '6']]
dict(d)

{'ram': '5', 'sam': '6'}

In [12]:
#In dictionary we cannot do + * - / // **

In [13]:
a={'ram':'9865558892','shyam':'9841318483'} #to add we use update in dict
b={1:1,2:4,3:9}
a.update(b)
a

{'ram': '9865558892', 'shyam': '9841318483', 1: 1, 2: 4, 3: 9}

In [14]:
a={'ram':'9865558892','shyam':'9841318483'} #to edit since it works like that
a['shyam']=9845647896
a

{'ram': '9865558892', 'shyam': 9845647896}

In [16]:
#del and pop to delete  #key value duwai hatera jaancha
a={'ram':'9865558892','shyam':'9841318483'}
del a['ram']
a

{'shyam': '9841318483'}

In [2]:
a={'ram':'9865558892','shyam':'9841318483'}
b=a.pop('ram') #only ram value moves to b
print(b)
print(a)

9865558892
{'shyam': '9841318483'}

In [19]:
#list inside dict
a={'ram':['980768786','9845625896'],'shyam':['9841562389','9845632589']}
a['ram']

['980768786', '9845625896']

In [21]:
print(a['ram'][0])

980768786

In [22]:
print(a['ram'][1])

9845625896

In [24]:
a['hari']=[9845659823,9865787475]
a

{'ram': ['980768786', '9845625896'],
 'shyam': ['9841562389', '9845632589'],
 'hari': [9845659823, 9865787475]}

In [25]:
a['ram'][0]=9841318483 #easily edited ram ntc number
a

{'ram': [9841318483, '9845625896'],
 'shyam': ['9841562389', '9845632589'],
 'hari': [9845659823, 9865787475]}

In [26]:
info={}
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    ntc_phone=input("enter ntc_phone=")
    ncell_phone=input("enter ncell_phone")
    info[name]=[ntc_phone,ncell_phone]
print(info)

enter n=2
enter name=hari
enter ntc_phone=45
enter ncell_phone85
enter name=shyam
enter ntc_phone=78
enter ncell_phone48
{'hari': ['45', '85'], 'shyam': ['78', '48']}

In [29]:
data={'Name':['Ram','Shyam'],
       'ntc':[9865558892,9841318483],
        'ncell':[5502589,55789654]}
data

{'Name': ['Ram', 'Shyam'],
 'ntc': [9865558892, 9841318483],
 'ncell': [5502589, 55789654]}

In [31]:
#details of Ram
print(data['Name'][0],data['ntc'][0],data['ncell'][0])

Ram 9865558892 5502589

In [33]:
#how to create like this
#{'Name':['Ram','Shyam'], key and value
      # 'ntc':[9865558892,9841318483],
        #'ncell':[5502589,55789654]}

In [34]:
d={}
d['name']=input("enter name")
d['ntc_number']=int(input("enter ntc"))
d['ncell number']=int(input("enter ncell"))

enter nameaishwarya
enter ntc98
enter ncell55

In [5]:
info={'Name':[],'ntc':[],'ncell':[]}
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    ntc_phone=input("enter ntc_phone=")
    ncell_phone=input("enter ncell_phone")
    info['Name'].append(name)
    info['ntc'].append(ntc_phone)
    info['ncell'].append(ncell_phone)
print(info)

enter n=3
enter name=aish
enter ntc_phone=9841
enter ncell_phone555
enter name=sam
enter ntc_phone=9865
enter ncell_phone5554
enter name=ram
enter ntc_phone=985
enter ncell_phone555
{'Name': ['aish', 'sam', 'ram'], 'ntc': ['9841', '9865', '985'], 'ncell': ['555', '5554', '555']}

In [6]:
l=len(info)
l

3

In [8]:
l=len(info['Name'])
l

3

In [13]:
l=len(info['Name'])
i=int(input("enter i="))
for k in info:
# info['Name'][i]
 #info['ntc'][i]
 #info['ncell'][i]
    print(info[k][i])

enter i=2
ram
985
555

In [2]:
info={'Name':[],'ntc':[],'ncell':[]}
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    ntc_phone=input("enter ntc_phone=")
    ncell_phone=input("enter ncell_phone")
    info['Name'].append(name)
    info['ntc'].append(ntc_phone)
    info['ncell'].append(ncell_phone)
print(info)

enter n=2
enter name=aish
enter ntc_phone=98
enter ncell_phone55
enter name=ram
enter ntc_phone=987
enter ncell_phone555
{'Name': ['aish', 'ram'], 'ntc': ['98', '987'], 'ncell': ['55', '555']}

In [5]:
#l=len(info['name'])
b=input("enter name=") #info is dictionary
#for index in range(len(a)):
#if a [index]==b:
#print(index)
index=info['Name'].index('ram')
#i=int(input("enteri="))
for j in info:
    print(j,info[j][index],end="")

enter name=aish
Name ramntc 987ncell 555

In [6]:
#how to create like this(dict inside list)
#data=[{'name':'ram','ntc':'9865','ncell':'555'},
#     {name':'rama','ntc':'98655','ncell':'5555'},
#     {name':'raman','ntc':'986589','ncell':'55501'}]

In [21]:
s=[{'name':'Jack','age':'15','id':'1024'},{'name':'Aishwarya','age':'25','id':'1025'},{'name':'ram','age':'85','id':'1055'}]
print(s)
print(type(s))
print(s[1])
print(type(s[0]))

[{'name': 'Jack', 'age': '15', 'id': '1024'}, {'name': 'Aishwarya', 'age': '25', 'id': '1025'}, {'name': 'ram', 'age': '85', 'id': '1055'}]
<class 'list'>
{'name': 'Aishwarya', 'age': '25', 'id': '1025'}
<class 'dict'>

In [9]:
a_dict={'yellow':'marigold','red':'rose'}
a_list=['black','purple']
dict_copy=a_dict.copy()
a_list.append(dict_copy)
print(a_list)

['black', 'purple', {'yellow': 'marigold', 'red': 'rose'}]

In [26]:
info=[]
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    ntc_phone=input("enter ntc_phone=")
    ncell_phone=input("enter ncell_phone")
    info.append({"name":name,"ntc":ntc_phone,'ncell':ncell_phone})
print(info)

enter n=2
enter name=aish
enter ntc_phone=98
enter ncell_phone55
enter name=ram
enter ntc_phone=98
enter ncell_phone55
[{'name': 'aish', 'ntc': '98', 'ncell': '55'}, {'name': 'ram', 'ntc': '98', 'ncell': '55'}]

In [27]:
info=[]
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    ntc_phone=input("enter ntc_phone=")
    ncell_phone=input("enter ncell_phone")
    data={'name':name,'ntc':ntc_phone,'ncell':ncell_phone}
    info.append(data)
print(info)

enter n=3
enter name=aish
enter ntc_phone=98
enter ncell_phone55
enter name=ram
enter ntc_phone=98
enter ncell_phone55
enter name=mamata
enter ntc_phone=987
enter ncell_phone555
[{'name': 'aish', 'ntc': '98', 'ncell': '55'}, {'name': 'ram', 'ntc': '98', 'ncell': '55'}, {'name': 'mamata', 'ntc': '987', 'ncell': '555'}]

In [28]:
info[0]

{'name': 'aish', 'ntc': '98', 'ncell': '55'}

In [31]:
info[0]={'name': 'mamata', 'ntc': '9875656565', 'ncell': '555'}
info

[{'name': 'mamata', 'ntc': '9875656565', 'ncell': '555'},
 {'name': 'ram', 'ntc': '98', 'ncell': '55'},
 {'name': 'mamata', 'ntc': '987', 'ncell': '555'}]

In [32]:
info[0]['name']='sita' #easy update edit del
info

[{'name': 'sita', 'ntc': '9875656565', 'ncell': '555'},
 {'name': 'ram', 'ntc': '98', 'ncell': '55'},
 {'name': 'mamata', 'ntc': '987', 'ncell': '555'}]

In [33]:
#dictionary inside dictionary
d={1:{'name': 'sita', 'ntc': '9875656565', 'ncell': '555'},2:{'name': 'ram', 'ntc': '98', 'ncell': '55'}}
print(d)

{1: {'name': 'sita', 'ntc': '9875656565', 'ncell': '555'}, 2: {'name': 'ram', 'ntc': '98', 'ncell': '55'}}

In [34]:
info={}
n=int(input("enter n="))
for i in range(1,n+1):
    name=input("enter name=")
    ntc_phone=input("enter ntc_phone=")
    ncell_phone=input("enter ncell_phone")
    data={"name":name,"ntc":ntc_phone,'ncell':ncell_phone}
    info[i]=data
print(info)

enter n=2
enter name=ram
enter ntc_phone=98
enter ncell_phone55
enter name=shyam
enter ntc_phone=97
enter ncell_phone01
{1: {'name': 'ram', 'ntc': '98', 'ncell': '55'}, 2: {'name': 'shyam', 'ntc': '97', 'ncell': '01'}}

In [51]:
info={1: {'name': 'ram', 'ntc': '98', 'ncell': '55'}, 
      2: {'name': 'shyam', 'ntc': '97', 'ncell': '01'}}
info[1]

{'name': 'ram', 'ntc': '98', 'ncell': '55'}

In [52]:
info[1]['name']

'ram'

In [53]:
info[1]['name']='ramaaaa'
info

{1: {'name': 'ramaaaa', 'ntc': '98', 'ncell': '55'},
 2: {'name': 'shyam', 'ntc': '97', 'ncell': '01'}}

In [54]:
info[3]={'name': 'sita', 'ntc': '98', 'ncell': '55'}
info

{1: {'name': 'ramaaaa', 'ntc': '98', 'ncell': '55'},
 2: {'name': 'shyam', 'ntc': '97', 'ncell': '01'},
 3: {'name': 'sita', 'ntc': '98', 'ncell': '55'}}

In [56]:
del info[1]['name']
info

{1: {'ntc': '98', 'ncell': '55'},
 2: {'name': 'shyam', 'ntc': '97', 'ncell': '01'},
 3: {'name': 'sita', 'ntc': '98', 'ncell': '55'}}

In [57]:
d={1.1:'apple','b':'ball'}
print(d)

{1.1: 'apple', 'b': 'ball'}

In [58]:
d={['ram','hari']:'980','shyam':'87987'} #notsupportindictionary
d

TypeError: unhashable type: 'list'

In [59]:
d={('ram','hari'):'9865','shyam':'8956'}
d

{('ram', 'hari'): '9865', 'shyam': '8956'}

In [60]:
d[('ram','hari')]

'9865'

In [63]:
l=()  #tupleinsidetuple
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    age=int(input("enter age="))
    add=input("enter address=")
    l=l+((name,age,add),)
print (l)

enter n=2
enter name=oo
enter age=96
enter address=ll
enter name=hh
enter age=66
enter address=ff
(('oo', 96, 'll'), ('hh', 66, 'ff'))