In [1]:
#file=open('<file_name>','<mode>')
#file.close()

#with open('<file_name>','<mode>')as file:
#<operations>

In [2]:
#mode
#read->'r'
#write -> 'w'
#create -> 'x'
#append -> 'a'

In [5]:
try:
    file=open('file.txt','x')
    file.close()
except:
    print("the file is already there!")

the file is already there!

In [2]:
file=open('file.txt','r')
x=file.read()
print(x)
file.close()

1.hello world
2.hello world
3.hello world
4.hello world
5.hello world
6.hello world
7.hello world
8.hello world
9.hello world

In [3]:
type(x)

str

In [4]:
x

'1.hello world\n2.hello world\n3.hello world\n4.hello world\n5.hello world\n6.hello world\n7.hello world\n8.hello world\n9.hello world\n'

In [5]:
x.split('\n')

['1.hello world',
 '2.hello world',
 '3.hello world',
 '4.hello world',
 '5.hello world',
 '6.hello world',
 '7.hello world',
 '8.hello world',
 '9.hello world',
 '']

In [6]:
data=x.split('\n')
data

['1.hello world',
 '2.hello world',
 '3.hello world',
 '4.hello world',
 '5.hello world',
 '6.hello world',
 '7.hello world',
 '8.hello world',
 '9.hello world',
 '']

In [7]:
n=int(input("enter line no.="))
data[n-1] #line by line data read

enter line no.=2

'2.hello world'

In [10]:
#mode-w

file=open('hello.txt','w')
x=file.write("hello world")
file.close()

In [11]:
bill=str()
grand_total=0
n=int(input("enter n="))
for i in range(n):
    product=input("enter x=")
    price=int(input("enter price="))
    quantity=int(input("enter quantity="))
    total=price*quantity
    grand_total=grand_total+total
    
    
    
    bill=bill+ f" {product} {price} {quantity} {total}\n"
print(bill)
print("all total=", grand_total)


file=open('bill.txt','w')
file.write(bill)
file.close()

enter n=2
enter x=shampoo
enter price=90
enter quantity=2
enter x=soap
enter price=45
enter quantity=3
 shampoo 90 2 180
 soap 45 3 135

all total= 315

In [18]:
file=open('bill.txt','r')
x=file.read()
print(x)
file.close()

 shampoo 90 2 180
 soap 45 3 135

In [16]:
l=[]
a=x.split('\n')[:-1]
for i in a:
    l.append(i.split())
l

[['shampoo', '90', '2', '180'], ['soap', '45', '3', '135']]

In [19]:

b=a.split('\n')[0:-1]
print(b)
result= []
for i in b:
    y=i.split()
    
    y[1]=int(y[1])
    y[2]=int(y[2])
    y[3]=int(y[3])

    result.append(y)
result

AttributeError: 'list' object has no attribute 'split'

In [1]:
bill=str()
grand_total=0
n=int(input("enter n="))
for i in range(n):
    product=input("enter x=")
    price=int(input("enter price="))
    quantity=int(input("enter quantity="))
    total=price*quantity
    grand_total=grand_total+total
    
    
    
    bill=bill+ f" {product}, {price}, {quantity}, {total}\n"
print(bill)
print("all total=", grand_total)


file=open('bill.csv','w')
file.write('Product, Price , Quantity, Total \n')
file.write(bill)
file.close()

enter n=2
enter x=shampoo
enter price=90
enter quantity=2
enter x=soap
enter price=45
enter quantity=3
 shampoo, 90, 2, 180
 soap, 45, 3, 135

all total= 315

In [23]:
pwd

'C:\\Users\\User\\Untitled Folder\\pythonclass'

In [3]:
import pandas as pd
df=pd.read_csv('bill.csv')
df

    Product   Price    Quantity   Total
0   shampoo       90          2      180
1      soap       45          3      135

In [11]:
file=open('new_bill.csv','a')
file.write('Product, Price , Quantity, Total \n')

34

In [12]:
bill=str()
grand_total=0
n=int(input("enter n="))
for i in range(n):
    product=input("enter x=")
    price=int(input("enter price="))
    quantity=int(input("enter quantity="))
    total=price*quantity
    grand_total=grand_total+total
    
    
    
    bill=bill+ f" {product}, {price}, {quantity}, {total}\n"
print(bill)
print("all total=", grand_total)




file.write(bill)

enter n=3
enter x=jacket
enter price=45
enter quantity=1
enter x=ll
enter price=56
enter quantity=1
enter x=ds
enter price=654
enter quantity=64
 jacket, 45, 1, 45
 ll, 56, 1, 56
 ds, 654, 64, 41856

all total= 41957

54

In [13]:
file.close()