In [2]:
#list python collection

b=[]
c=list()
a=['APPLE','BALL',1,2,3,4,5,6.7,8.9]
print(type(a))
print(type(b))
print(type(c))

<class 'list'>
<class 'list'>
<class 'list'>

In [5]:
a=['APPLE','BALL','CAT','FISH'] #indexing support it gives comma separated character
print(a[2])
print(a[0:4])
print(a[0:4:2])

CAT
['APPLE', 'BALL', 'CAT', 'FISH']
['APPLE', 'CAT']

In [6]:
a=['APPLE','BALL','CAT','FISH'] #ordered
print(a)

['APPLE', 'BALL', 'CAT', 'FISH']

In [8]:
# + * #this is also called ordered
a=['apple']
b=[1,2,3,4]
c=a+b
d=b+a
print(c)
print(d)

['apple', 1, 2, 3, 4]
[1, 2, 3, 4, 'apple']

In [9]:
a=['APLLE']
print(a*2)  #enlargement

['APLLE', 'APLLE']

In [14]:
l=[]
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    l=l+[x]   # big bracket element is list
print(l)

enter n=5
enter x=40
enter x=50
enter x=60
enter x=70
enter x=80
[40, 50, 60, 70, 80]

In [15]:
print("the max value is=",max(l))
print("the min value is=",min(l))
print("the sum=",sum(l))
print("Average=",sum(l)/n)

the max value is= 80
the min value is= 40
the sum= 300
Average= 60.0

In [2]:
l=[]
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    l=l+[x]   # big bracket element is list
print(l)   
print("the max value is=",max(l))
print("the min value is=",min(l))
print("the sum=",sum(l))
print("Average=",sum(l)/n)
#l.sort()
l.reverse()
print(l)

enter n=4
enter x=1
enter x=2
enter x=9
enter x=7
[1, 2, 9, 7]
the max value is= 9
the min value is= 1
the sum= 19
Average= 4.75
[7, 9, 2, 1]

In [20]:
a=["apple","ball","cat","zebra",'xray']
a.sort()
print(a)

['apple', 'ball', 'cat', 'xray', 'zebra']

In [21]:
a=["apple","ball","cat","zebra",'xray']
for i in a:
    print(i)

apple
ball
cat
zebra
xray

In [4]:
a=["apple","ball","cat","zebra",'xray']
for i in a:
    print(a)
len(a)

['apple', 'ball', 'cat', 'zebra', 'xray']
['apple', 'ball', 'cat', 'zebra', 'xray']
['apple', 'ball', 'cat', 'zebra', 'xray']
['apple', 'ball', 'cat', 'zebra', 'xray']
['apple', 'ball', 'cat', 'zebra', 'xray']

5

In [24]:

a=["apple","ball","cat","zebra",'xray']
l=len(a)
for i in range(l):
    print(a[i])

apple
ball
cat
zebra
xray

In [25]:
a=["apple","ball","cat","zebra",'xray']
if"apple" in a:
    print("yes")

yes

In [6]:
a=["apple","ball","cat","zebra",'xray','apple',"apple"]
if "apple" in a:
    print("yes")
    print(a.count("apple"))

yes
3

In [32]:
# append() first come first end
#extend() when we need to add group of value
#insert()
a=["apple","ball","cat","zebra","xray"]
a.append('fish')
print(a)

['apple', 'ball', 'cat', 'zebra', 'xray', 'fish']

In [33]:
a=["apple","ball","cat","zebra","xray"]
a.insert(1,'fish')
print(a)

['apple', 'fish', 'ball', 'cat', 'zebra', 'xray']

In [38]:
a=["apple","ball","cat","zebra","xray"]
b=[1,2,3,4]
a.extend(b)
print(a)

['apple', 'ball', 'cat', 'zebra', 'xray', 1, 2, 3, 4]

In [9]:
a="apple" #conversion of string to list
list(a)

['a', 'p', 'p', 'l', 'e']

In [44]:
#not vice versa,we cant turn list to string
c=str(b)
c

'[]'

In [1]:
l=[]
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    l.append(x) #instead of using l=l+[x]
print(l)

enter n=5
enter x=10
enter x=20
enter x=4
enter x=5
enter x=9
[10, 20, 4, 5, 9]

In [46]:
a=["apple","ball","cat","zebra","xray"] #update or edit
a[0]="ant"
a

['ant', 'ball', 'cat', 'zebra', 'xray']

In [48]:
a=["apple","ball","cat","zebra","xray"]
a[0]=a[0].upper()
print(a)

['APPLE', 'ball', 'cat', 'zebra', 'xray']

In [49]:
a=["apple","ball","cat","zebra","xray"] #del(), remove (), pop()
del a[0]
print(a)

['ball', 'cat', 'zebra', 'xray']

In [1]:
a=["apple","ball","cat","zebra","xray"]
del a[0:3]
print(a)

['zebra', 'xray']

In [53]:
a=["apple","ball","cat","zebra","xray"]
b=a.pop(0) #pop is to move
print(a)
print(b)

['ball', 'cat', 'zebra', 'xray']
apple

In [54]:
a=["apple","ball","cat","zebra","xray"]
a.pop() #pop is to move but if not given indexing it moves last value
a

['apple', 'ball', 'cat', 'zebra']

In [4]:
a=["apple","ball","cat","zebra","xray","apple","apple"]
a.remove('apple') #remove is use anything from anywhere since we need indexing
a

['ball', 'cat', 'zebra', 'xray', 'apple', 'apple']

In [5]:
#wap to calculate index of any value
a=['apple','ball','cat','zebra','xray','apple','apple','apple']
b=input("enter any value=")
for i in range (len(a)):
    if a[i]==b:
        print(i)

enter any value=apple
0
5
6
7

In [7]:
#wap to remove multiple value
a=['apple','ball','cat','apple','apple','apple']
b=input("enter any value=")
l=a.count(b)
print(l)
for i in range (l):
    a.remove(b)
print(a)

enter any value=apple
4
['ball', 'cat']

In [5]:
a=['apple','ball','cat','zebra','xray','apple']
a.remove('apple')
a.remove('apple')
a

['ball', 'cat', 'zebra', 'xray']

In [6]:
#wap to remove multiple value
a=['apple','ball','cat','apple']
b=input("enter any value=")
l=a.count(b)
print(l)
for i in range (l):
    a.remove(b)
print(a)

enter any value=apple
2
['ball', 'cat']

In [9]:
#wap to remove multiple value
a=['apple','ball','cat','apple']
b=input("enter any value=").lower()

for i in a:
    if i.lower()==b:
        a.remove(b)
print(a)

enter any value=apple
['ball', 'cat']

In [10]:
#wap to remove multiple value
a=['apple','ball','cat','apple']
b=input("enter any value=")
c=0

for i in a:
    if i.lower()==b.lower():
        del a[c]
    c=c+1
print(a)

enter any value=ball
['apple', 'cat', 'apple']

In [4]:
#wap to remove multiple value
a=['apple','ball','cat','apple']
b=input("enter any value=")
l=a.count(b)
print(l)


for i in a:
    if i.lower()==b.lower():
        a.remove(i)
print(a)

enter any value=apple
2
['ball', 'cat']

In [6]:
#list inside list
a=  [[1,2,3],
    [4,5,6],
    [6,7,8]]
print(type(a))
print(a)
print(len(a))

<class 'list'>
[[1, 2, 3], [4, 5, 6], [6, 7, 8]]
3

In [7]:
print(a[2])

[6, 7, 8]

In [8]:
print(a[0][0])

1

In [3]:
a=['ball','cat','zebra','xray']
a[0][2]

'l'

In [11]:
a= [["ram",45,'Kathmandu'],
   ["shyam",78,'bhaktapur'],
   ["hari",45,'jhapa']]
a

[['ram', 45, 'Kathmandu'], ['shyam', 78, 'bhaktapur'], ['hari', 45, 'jhapa']]

In [12]:
a[0][1]

45

In [2]:
l=[]
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    age=int(input("enter age="))
    add=input("enter address=")
    l.append([name,age,add])
print (l)

enter n=2
enter name=aishwarya
enter age=25
enter address=hattiban
enter name=samriddha
enter age=31
enter address=ekantakuna
[['aishwarya ', 25, 'hattiban'], ['samriddha', 31, 'ekantakuna']]

In [3]:
l.append(['hari',25,'chabahil'])
l

[['aishwarya ', 25, 'hattiban'],
 ['samriddha', 31, 'ekantakuna'],
 ['hari', 25, 'chabahil']]

In [7]:
a=[['aishwarya', 85, '45'], ['shyam', 545, '554'], ['hari', 25, 'chabahil']]
name= input("enter name=")
for i in a:
    if name in i:
        print(i)

enter name=aishwarya
['aishwarya', 85, '45']

In [21]:
a=[['aishwarya', 85, '45'], ['shyam', 545, '554'], ['hari', 25, 'chabahil']]
#name= input("enter name=")
for i in a:
    #if a in i:
        print(i)

['aishwarya', 85, '45']
['shyam', 545, '554']
['hari', 25, 'chabahil']

In [2]:
a=[['aishwarya', 85, '45'], ['shyam', 545, '554'], ['hari', 2, 'chabahil']]

for i in a:
    if  i[1]>20:
        print(i)

['aishwarya', 85, '45']
['shyam', 545, '554']

In [3]:
#update
a=[['aishwarya', 85, '45'], ['shyam', 545, '554'], ['hari', 2, 'chabahil']]
a[0][0]='rama'
a

[['rama', 85, '45'], ['shyam', 545, '554'], ['hari', 2, 'chabahil']]

In [4]:
#delete
a=[['aishwarya', 85, '45'], ['shyam', 545, '554'], ['hari', 2, 'chabahil']]
del a[0]
a

[['shyam', 545, '554'], ['hari', 2, 'chabahil']]

In [7]:
#wap to create a matrix taking row and col from user
#wap to convert give string to list inside list

a="apple 200 2 400\n banana 100 3 300\n"
b=a.split('\n')[0:-1]
print(b)
result= []
for i in b:
    x=i.split()
    price=int(x[1])
    qty=int(x[2])
    total=int(x[3])
    result.append(x)
result

['apple 200 2 400', ' banana 100 3 300']

[['apple', '200', '2', '400'], ['banana', '100', '3', '300']]

In [15]:
#WAP to convert give string to list inside list
#a="apple 200 2 400\n banana 100 3 300\n"
#a=[["apple",200,2,400],['banana',100,2,200]
#and convert price,total quantity into int
a="apple 200 2 400\n banana 100 3 300\n"
b=a.split('\n')[0:-1]
print(b)
result= []
for i in b:
    x=i.split()
    price=int(x[1])
    qty=int(x[2])
    total=int(x[3])
    x[1]=price
    x[2]=qty
    x[3]=total

    result.append(x)
result

['apple 200 2 400', ' banana 100 3 300']

[['apple', '200', '2', '400'], ['banana', '100', '3', '300']]

In [9]:
a="apple 200 2 400\n banana 100 3 300\n"
b=a.split('\n')[0:-1]
print(b)
result= []
for i in b:
    x=i.split()
   

    x[1]=int(x[1])
    x[2]=int(x[2])
    x[3]=int(x[3])
    result.append(x)
result

['apple 200 2 400', ' banana 100 3 300']

[['apple', 200, 2, 400], ['banana', 100, 3, 300]]

In [17]:
#wap to create a matrix taking row and col from user
#r-> ?
#c-> ?
#x=>
#r*c matrix
#[['rama',29,'kathmandu'],
  #['shyam',39,'kathmandu'],
   # ['hari',15,'bara']]
   #r->3
#c->3
matrix=[]
r=int(input("enter r="))
c=int(input("enter c="))
for i in range(r):
    y=[]
    for j in range (c):
        x=int(input("enter x="))
        y.append(x)
        
    matrix.append(y)
print(matrix)

enter r=3
enter c=3
enter x=45
enter x=85
enter x=65
enter x=15
enter x=25
enter x=35
enter x=75
enter x=85
enter x=95
[[45, 85, 65], [15, 25, 35], [75, 85, 95]]

In [11]:
matrix=[]
r=int(input("enter r="))
c=int(input("enter c="))
for i in range(r):
    y=[]
    for j in range (c):
        x=int(input(f"enter x=for row={i} col={j} "))
        y.append(x)
        
    matrix.append(y)
print(matrix)

enter r=2
enter c=2
enter x=for row=0 col=0 4
enter x=for row=0 col=1 5
enter x=for row=1 col=0 6
enter x=for row=1 col=1 7
[[4, 5], [6, 7]]

In [12]:
subject=['physics','chemistry','math','english','nepali']
c=len(subject)
matrix=[]
r=int(input("enter r="))

for i in range(r):
    y=[]
    for j in range (c):
        x=int(input(f"enter marks for roll {i}  subject= {subject[j]} == "))
        y.append(x)
        
        
    matrix.append(y)
print(matrix)

enter r=2
enter marks for roll 0  subject= physics == 45
enter marks for roll 0  subject= chemistry == 45
enter marks for roll 0  subject= math == 45
enter marks for roll 0  subject= english == 45
enter marks for roll 0  subject= nepali == 45
enter marks for roll 1  subject= physics == 45
enter marks for roll 1  subject= chemistry == 50
enter marks for roll 1  subject= math == 50
enter marks for roll 1  subject= english == 50
enter marks for roll 1  subject= nepali == 50
[[45, 45, 45, 45, 45], [45, 50, 50, 50, 50]]

In [13]:
subject=['physics','chemistry','math','english','nepali']
c=len(subject)
matrix=[]
r=int(input("enter r="))

for i in range(r):
    y=[]
    total=0
    for j in range (c):
        x=int(input(f"enter marks for roll {i}  subject= {subject[j]} == "))
        total=total+x
        y.append(x)
        
        
    y.append(total)    
    matrix.append(y)
print(matrix)

enter r=2
enter marks for roll 0  subject= physics == 45
enter marks for roll 0  subject= chemistry == 45
enter marks for roll 0  subject= math == 45
enter marks for roll 0  subject= english == 45
enter marks for roll 0  subject= nepali == 45
enter marks for roll 1  subject= physics == 50
enter marks for roll 1  subject= chemistry == 50
enter marks for roll 1  subject= math == 50
enter marks for roll 1  subject= english == 50
enter marks for roll 1  subject= nepali == 50
[[45, 45, 45, 45, 45, 225], [50, 50, 50, 50, 50, 250]]

In [8]:
info=str()
subject=['physics','chemistry','math','english','nepali'] #wrong program
c=len(subject)
matrix=[]
r=int(input("enter r="))

for i in range(r):
    y=[]
    total=0
    for j in range (c):
        x=int(input(f"enter marks for roll {i}  subject= {subject[j]} == "))
        total=total+x
        y.append(x)
        

    y.append(total)    
    matrix.append(y)
    if total>=80:
            grade= "A"
    elif total>=60:
            grade="B"
    elif total>=40:
            grade="C"
    else:
            grade="Fail"
info=info +f" grade  {grade}  \n"
print(info)
print(matrix)

enter r=2
enter marks for roll 0  subject= physics == 5
enter marks for roll 0  subject= chemistry == 5
enter marks for roll 0  subject= math == 5
enter marks for roll 0  subject= english == 5
enter marks for roll 0  subject= nepali == 5
enter marks for roll 1  subject= physics == 10
enter marks for roll 1  subject= chemistry == 10
enter marks for roll 1  subject= math == 10
enter marks for roll 1  subject= english == 10
enter marks for roll 1  subject= nepali == 10
 grade  C

[[5, 5, 5, 5, 5, 25], [10, 10, 10, 10, 10, 50]]

In [20]:
a="apple 200 2 400\m banana 100 3 300\m"
b=a.split('\m')[0:-1]
print(b)

['apple 200 2 400', ' banana 100 3 300']

In [19]:
a="apple banana"
b=a.split()
print(b)

['apple', 'banana']