In [1]:
#set
s=set()
s={1,2,3,4,5,6}
print(type(s))

<class 'set'>

In [2]:
s={1,2,3,4,5,6}
s[0] #no indexing

TypeError: 'set' object is not subscriptable

In [3]:
s={1,2,3,4,5,6,1,2,3,4} #no duplication in set , always unique, set is the collection of unique data
print(s)

{1, 2, 3, 4, 5, 6}

In [4]:
s={1,2,3,4,5,6,1,2,3,4}
print(s)
s

{1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [5]:
s={"apple","zebra","ball","xray"} #unordered-- save randomly in memory
print(s)
s

{'ball', 'apple', 'zebra', 'xray'}

{'apple', 'ball', 'xray', 'zebra'}

In [6]:
s={1,2,3,4,5,6,1,2,3,4}
l=len(s) #only unique data count
print(l)

6

In [7]:
s={"apple","zebra","ball","xray"} #randomness
for i in s:
    print(i)

ball
xray
zebra
apple

In [10]:
a=[1,2,3,4,5,6,3,4,5,3,5,3,4,3,5,3]
list(set(a)) #removing duplicate and convert into list

[1, 2, 3, 4, 5, 6]

In [14]:
s={1}
type(s)

set

In [15]:
s={}
type(s)

dict

In [16]:
s=set() #for null set this should be used
type(s)

set

In [17]:
t=()
type(t)

tuple

In [18]:
t=(1)
type(t)

int

In [19]:
t=(1,)
type(t)

tuple

In [20]:
a={(1,2,3),(3,4,5),(5,6,7),(1,2,3)} #only tuple inside set can be kept
a

{(1, 2, 3), (3, 4, 5), (5, 6, 7)}

In [22]:
a={[1,2,3],[3,4,,5],[5,6,7],[1,2,3]} #set dict list is mutable so they cannot keep inside set ..not even set inside set
a

SyntaxError: invalid syntax (1795017058.py, line 1)

In [24]:
a={(1,2,3),(3,4,5),(5,{6},7),(1,2,3)} #mutable data cannot keep inside them...
a

TypeError: unhashable type: 'set'

In [28]:
u={"bill","gates","mike","john","satya","sambhu","sita","hari","abc","nabin","ram","abc","xyz"}
ms={"ram","bill","gates","mike","john","satya","sambhu"}
apple={"sita","hari","nabin","john","satya","ram"}

ms.intersection(apple) #intersection-->intersection values
print(ms.intersection(apple))

{'ram', 'john', 'satya'}

In [29]:
ms.union(apple) #merged values

{'bill',
 'gates',
 'hari',
 'john',
 'mike',
 'nabin',
 'ram',
 'sambhu',
 'satya',
 'sita'}

In [30]:
#difference
ms-apple

{'bill', 'gates', 'mike', 'sambhu'}

In [31]:
apple-ms

{'hari', 'nabin', 'sita'}

In [32]:
u={"bill","gates","mike","john","satya","sambhu","sita","hari","abc","nabin","ram","abc","xyz"}
ms={"ram","bill","gates","mike","john","satya","sambhu"}
apple={"sita","hari","nabin","john","satya","ram"}

un=ms.union(apple)
un

{'bill',
 'gates',
 'hari',
 'john',
 'mike',
 'nabin',
 'ram',
 'sambhu',
 'satya',
 'sita'}

In [34]:
u-un

{'abc', 'xyz'}

In [35]:
len(u-un)

2

In [36]:
#add function to append
a={'apple'}
a.add('ball')
a

{'apple', 'ball'}

In [37]:
a={'apple','ball'}
a.remove('apple')
a

{'ball'}