In [1]:
#string 7th feb
a='hello world'
b="hello world"  #we can do concatenation and enlargement ... we can use operators
c='''hello world''' #raw string datatype... 
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a="hello world"
b="i am python"
c=a+b
print(c)

hello worldi am python

In [3]:
a=input("enter a=")
type(a)

enter a=5

str

In [5]:
a="hello world. i am python"
print(a[0])
print(a[0:5]) #string slicing
print(a[0:20:2]) #increment

h
hello
hlowrd  mp

In [6]:
a="hello world"
a[10]
a[0:11]
a[0:110]
a[:11]
a[:]

'hello world'

In [7]:
a="hello world" #opposite way we can find palindrome
a[::-1]

'dlrow olleh'

In [9]:
a="hello world"  #a[0:-1] last value is always excluded  d=-1 l=-2 r=-3 is the address
a[:-1]

'hello worl'

In [10]:
a="hello world"  #a[0:-1] last value is always excluded 
a[:-2]

'hello wor'

In [11]:
a="hello world"  #last bata aauncha
a[-1:0:-1]

'dlrow olle'

In [12]:
a="hellow world\n" #string and integer bich concatenate hudaina
print(a*2)

hellow world
hellow world

In [20]:
name="ram"
age=45
add="kathmandu"
info="hello world i am " + name + " i am "+ str(age) + " i am from "+add
info

'hello world i am ram i am 45 i am from kathmandu'

In [23]:
name="ram" #string formatting
age=45
add="kathmandu"
info=f"hello world i am {name}  i am  {age} i am from {add}"
info

'hello world i am ram  i am  45 i am from kathmandu'

In [25]:
bill=str()
n=int(input("enter n="))
for i in range(n):
    product=input("enter x=")
    price=int(input("enter price="))
    quantity=int(input("enter quantity="))
    total=price*quantity
    
    
    
    bill=bill+product+str(price)+str(quantity)+str(total)+"\n"
print(bill)

enter n=1
enter x=shampoo
enter price=45
enter quantity=1
shampoo45145

In [40]:
bill=str()
grand_total=0
n=int(input("enter n="))
for i in range(n):
    product=input("enter x=")
    price=int(input("enter price="))
    quantity=int(input("enter quantity="))
    total=price*quantity
    grand_total=grand_total+total
    
    
    
    bill=bill+ f" {product} {price} {quantity} {total}\n"
print(bill)
print("all total=", grand_total)

enter n=2
enter x=shampoo
enter price=100
enter quantity=1
enter x=soap
enter price=45
enter quantity=3
 shampoo 100 1 100
 soap 45 3 135

all total= 235

In [32]:
name= input("enter name=")
phone=int(input("enter phone no.="))
address=input("enter address=")
info=f"{name} {phone} {address} "
print(info)

enter name=aishwarya
enter phone no.=9865558892
enter address=hattiban
aishwarya 9865558892 hattiban

In [36]:
info=str()
n=int(input("no of people="))
for i in range(n):
    name= input("enter name=")
    phone=int(input("enter phone no.="))
    address=input("enter address=")
    info=info + f"{name} {phone} {address}\n "
print(info)

no of people=3
enter name=aishwarya
enter phone no.=9865558892
enter address=hattiban
enter name=neera
enter phone no.=9841318483
enter address=balaju
enter name=pari
enter phone no.=9865256985
enter address=godavari
aishwarya 9865558892 hattiban
 neera 9841318483 balaju
 pari  9865256985 godavari

In [42]:
name=input("enter name=")
a="ram shyam hari shiva sita ram"
if "ram" in a:
    print("YES")
else:
    print("NO")

enter name=ram
YES

In [44]:
name=input("enter name=")
a="ram shyam hari shiva sita ram ram ram ram"
if "ram" in a:
    print("YES")
    print(a.count(name))
else:
    print("NO")

enter name=ram
YES
5

In [50]:
name=input("enter name=")       #looks as sequence of character, #is case sensitive
a="ram shyam hari shiva sita ram"
if name in a:
    print("YES")
    print(a.count(name))
else:
    print("NO")

enter name=shyam
YES
1

In [47]:
a="ram shyam hari"  #we can change in uppercase and lowercase
print(a.upper())
print(a.lower())

RAM SHYAM HARI
ram shyam hari

In [52]:
name=input("enter name=").lower()
a="ram shyam hari shiva sita ram".lower()
if name in a:
    print("YES")
    print(a.count(name))
else:
    print("NO")

enter name=S
YES
3

In [56]:
#replace()
a="ram hari shyam sita shiva ram" #indexing is each and every character
a=a.replace('ram','rama')
print(a)

rama hari shyam sita shiva rama

In [57]:
#replace()
a="ram hari shyam sita shiva ram" #indexing is each and every character
a=a.replace('ram','')
print(a)

 hari shyam sita shiva

In [59]:
#replace()
a="ram hari shyam sita shiva ram" #indexing is each and every character
a=a.replace('r','b')
print(a)

bam habi shyam sita shiva bam

In [61]:
a="Ram Ram Shyam Hari Shyam"  #concept of array
a.split()

['Ram', 'Ram', 'Shyam', 'Hari', 'Shyam']

In [13]:
mark=str()
per=0
n=int(input("enter number of students="))
for i in range(n):
    name=input("enter the name of students=")
    math=int(input("enter marks of math ="))
    physics=int(input("enter mark of physics="))
    chemistry=int(input("enter mark of chemistry="))
    total=math+physics+chemistry
    per=(total/3)
    
    
    
    mark=f" {name} {math} {physics} {chemistry} {total}\n"
    print(mark)
    print("percentage_of_student", per)

enter number of students=2
enter the name of students=hari
enter marks of math =45
enter mark of physics=45
enter mark of chemistry=45
 hari 45 45 45 135

percentage_of_student 45.0
enter the name of students=shyam
enter marks of math =45
enter mark of physics=45
enter mark of chemistry=45
 shyam 45 45 45 135

percentage_of_student 45.0

In [12]:
mark=str()

n=int(input("enter number of students="))
a="name    math      science     total     percentage"
for i in range(n):
    name=input("enter name=")
    math=int(input("enter math="))
    science=int(input("enter science="))
    total=math+science
    per=(total/2)
    
    
    
    
    mark=mark+ f" {name}     {math}     {science}     {total}     {per} \n"
    
print(mark)
print(a)

enter number of students=2
enter name=hari
enter math=45
enter science=45
enter name=45
enter math=45
enter science=45
 hari     45     45     90     45.0
 45     45     45     90     45.0

name    math      science     total     percentage

In [1]:
a=input("enter the name=")
if a[::-1]==a[:]:
    print("it is palindrome")
else:
    print("it is not palindrome")

enter the name=robor
its palindrome

In [7]:
information=str()
n=int(input("enter the number of students= "))
for i in range(n):
    name=input("enter the name of student=")
    physics=int(input("enter the mark of physics="))
    chemistry=int(input("enter the mark of chemistry="))
    biology=int(input("enter the mark of biology"))
    total=(physics+chemistry+biology)/3
    if total>=80:
            grade= "A"
    elif total>=60:
            grade="B"
    elif total>=40:
            grade="C"
    else:
            grade="Fail"
            
            
            
            
    information= information  +  f"  {name} grade {grade} \n   "
print(information)

enter the number of students= 3
enter the name of student=sita
enter the mark of physics=50
enter the mark of chemistry=50
enter the mark of biology90
enter the name of student=samriddha
enter the mark of physics=0
enter the mark of chemistry=0
enter the mark of biology0
enter the name of student=aishwarya
enter the mark of physics=100
enter the mark of chemistry=100
enter the mark of biology100
  sita grade B
     samriddha grade Fail
     aishwarya grade A

In [17]:
n=input("enter name= ")
print(n[:],len(n))

enter name= aishwarya shahi thakuri
aishwarya shahi thakuri 23