In [1]:
#tuple use less memory than list
#tuple
a=tuple()
a=("apple","ball","cat","dog")
a

('apple', 'ball', 'cat', 'dog')

In [2]:
a=("apple",)
print(type(a))

<class 'tuple'>

In [3]:
a=("apple")
print(type(a))

<class 'str'>

In [4]:
a=("apple","ball","cat","dog")
print(a[0])
print(a[0:3])
print(a[0:3:2])
print(type(a))

apple
('apple', 'ball', 'cat')
('apple', 'cat')
<class 'tuple'>

In [7]:
a=(1,2,3,4)
b=(3,4,5,6)
print(a*2)
print(a+b)

(1, 2, 3, 4, 1, 2, 3, 4)
(1, 2, 3, 4, 3, 4, 5, 6)

In [9]:
l=()
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    l=l+(x,)   
print(l)   
print("the max value is=",max(l))
print("the min value is=",min(l))
print("the sum=",sum(l))
print("Average=",sum(l)/n)

enter n=2
enter x=1
enter x=2
(1, 2)
the max value is= 2
the min value is= 1
the sum= 3
Average= 1.5

In [10]:
a=("apple","ball","cat","dog")
a.index("ball")

1

In [11]:
if"apple"in a:
    print("yes")

yes

In [12]:
#converting tuple into list
a=("apple","ball","cat","dog")
b=list(a)
b

['apple', 'ball', 'cat', 'dog']

In [13]:
#del any value
del b[0]
b

['ball', 'cat', 'dog']

In [14]:
a=tuple(b)
a

('ball', 'cat', 'dog')

In [16]:
a=("apple","ball","cat","dog")
b=list(a)
b.remove('ball')
b

['apple', 'cat', 'dog']

In [17]:
a=tuple(b)
a

('apple', 'cat', 'dog')

In [18]:
d={('ram','hari'):('9865','555'),'shyam':'8956'}
d

{('ram', 'hari'): ('9865', '555'), 'shyam': '8956'}

In [19]:
#tupleinsidetuple
a=(('apple',200,2,400),('banana',100,3,300))
a

(('apple', 200, 2, 400), ('banana', 100, 3, 300))